Repository OmicronSwe/EmporioLambda-FE, pull requests merged in 2021-05, with the labels that each got.

#26 Profile
  components/Dashboard/CategoryList.tsx
  components/Dashboard/DashboardLinks.tsx
  components/Dashboard/ModifyingProductForm.tsx
  components/Dashboard/NewCategoryForm.tsx
  components/Dashboard/NewProductForm.tsx
  components/Dashboard/OldProductInformations.tsx
  components/Dashboard/OrderList.tsx
  components/Dashboard/ProductList.tsx
  components/Dashboard/ProductSection.tsx
  components/Pdp/CartForm.tsx
  components/Pdp/CartSection.tsx
  components/Profile/ModifyingProfileForm.tsx
  components/Profile/OrderList.tsx
  components/Profile/ProfileButton.tsx
  components/Profile/ProfileInfoForm.tsx
  components/layout.tsx
  cypress/integration/profile.tsx
  package-lock.json
  package.json
  pages/dashboard/index.tsx
  pages/profile/edit/[username].tsx
  pages/profile/index.tsx
  src/Services/order.tsx
  src/Services/profile.tsx
  test-db.json
  test-middleware.js
  test-routes.json
Labels: Profile

#24 Dashboard
  .gitignore
  .test-env
  components/Dashboard/CategoryList.tsx
  components/Dashboard/CategorySection.tsx
  components/Dashboard/ModifyingProductForm.tsx
  components/Dashboard/NewCategoryForm.tsx
  components/Dashboard/NewProductForm.tsx
  components/Dashboard/OldProductInformations.tsx
  components/Dashboard/OrderList.tsx
  components/Dashboard/ProductList.tsx
  components/Dashboard/ProductSection.tsx
  components/Order/OrderDetail.tsx
  cypress/fixtures/example.json
  cypress/fixtures/images/React_js.png
  cypress/fixtures/images/aws_black.png
  cypress/fixtures/images/f.jpg
  cypress/fixtures/images/stripe.png
  cypress/integration/dashboard.tsx
  cypress/integration/login.ts
  cypress/integration/profile.tsx
  cypress/support/commands.js
  package-lock.json
  package.json
  pages/api/auth/[...nextauth].tsx
  pages/dashboard/modify/[id].tsx
  src/Services/dashboard.tsx
  src/Services/order.tsx
  styles/globals.css
  test-db.json
  test-middleware.js
  test-routes.json
  tsconfig.json
Labels: Dashboard

#27 Search bar fix and simple test
  components/SearchBar/SearchBar.tsx
  cypress/integration/searchBar.ts
  pages/index.tsx
  test-routes.json
Labels: Search, bug, enhancement

#28 fix to plp and home, only visiting page test implemented
  .github/workflows/deployWebsite.yml
  components/SearchBar/SearchBar.tsx
  components/plp/CategoryProductList.tsx
  cypress/integration/home.tsx
  cypress/integration/plp.tsx
  pages/index.tsx
  pages/pdp/[id].tsx
  pages/plp/[category].tsx
  src/Services/plp.tsx
  src/Services/product.tsx
  styles/globals.css
Labels: Home, PLP, bug

#29 Fix&test cart
  components/Cart/CartListSection.tsx
  components/Cart/CartProductsList.tsx
  components/Cart/PayButton.tsx
  components/Cart/PayButtonContent.tsx
  components/Cart/RemoveAllButton.tsx
  components/Cart/SummaryInfo.tsx
  components/home/CategoryList.tsx
  components/layout.tsx
  cypress/integration/cart.ts
  pages/cart/index.tsx
  src/Services/cart.tsx
  src/Services/plp.tsx
  test-db.json
  test-routes.json
Labels: Cart, bug, enhancement

#39 404and500 error pages
  cypress/integration/404.ts
  pages/404.tsx
  pages/500.tsx
Labels: enhancement
